@import "tailwindcss";

@theme {
  --color-hb-neutral-900: #2b2620;
  --color-hb-neutral-800: #3e3428;
  --color-hb-neutral-700: #5a4c3c;
  --color-hb-neutral-600: #7a6a57;
  --color-hb-neutral-400: #e4ded5;
  --color-hb-neutral-200: #f2eeea;
  --color-hb-neutral-100: #fbf6ef;
  --color-hb-neutral-50: #fdfbf7;
  --color-hb-neutral-0: #ffffff;

  --color-hb-sun-500: #edb63a;
  --color-hb-sun-300: #f5d98a;
  --color-hb-sun-200: #ffde7a;
  --color-hb-sun-50: #fff4dc;

  --color-hb-blue-500: #5769c6;

  --color-hb-terracotta-700: #9f3e1d;
  --color-hb-terracotta-600: #b7411b;
  --color-hb-terracotta-500: #c25a2e;
  --color-hb-terracotta-400: #e07a3f;

  --color-hb-rose-500: #c04a72;
}
